#link-graph {
    display: block;
    width: 1000px;
    height: 630px;
    border: 1px solid #dddddd;
    margin-bottom: 15px;
}

.ui-widget,
body {
    font-family: Tahoma, sofia_pro_lightregular;
    color: #9a8e79;
}

::selection {
    color: white;
    background: #ed9f1d;
}

::-moz-selection {
    color: white;
    background: #ed9f1d;
}

label {
    color: #faad53;
    font-size: 12px;
    font-family: sofia_pro_lightregular;
    margin-top: 2px;
    margin-bottom: 8px;
    min-width: 105px;
    display: inline-block;
}

input,
textarea,
select,
button{
    font-family: sofia_pro_lightregular;
    color: #9a8e79;
    height: 40px;
    overflow: hidden;
    padding-left: 4px;
    font-size: 12px;
    -moz-border-radius: 4px;
    border: 2px solid #ececec;
    border-radius: 4px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

input::-moz-focus-inner {
    margin: 0;
}


h1 {
    color: #81c02b;
    font-size: 18px;
}

.float {
    float: left;
}

h2 {
    font-weight: bold;
    display: inline-block;
    background: #f8f8f8;
    font-family: sofia_pro_lightregular;
    white-space: nowrap;
    height: 23px;
    line-height: 23px;
    color: #807664;
    font-size: 0.8em;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 13px;
}

hr {
    border: 1px solid #ddddda;
    margin: 21px 0 5px;
}


body {
    background: white url('images/background.png') repeat;
    margin: 0px;
}

.clearfix {
    clear: both;
}

.vertical-section {
    display: block;
    width: 100%;
    border-bottom: 1px solid #f4f3f1;
    clear: both;
}

.vertical-section > div {
    display: block;
    width: 1000px;
    margin: 0 auto;
    padding: 13px 0px;
}


.white-pause {
    display: block;
    width: 100%;
    height: 10px;
    border-bottom: 1px solid #f4f3f1;
    background: white;
}


#top_menu ul {
    display: block;
    margin: 5px 0px;
    padding-left: 0px;
}

#top_menu ul li {
    display: inline-block;

    /* for ie7 */
    zoom: 1;
    *display: inline;
}

#top_menu ul li a {
    text-decoration: none;
    color: #9a8d7a;
    font-size: 1.1em;
    font-family: sofia_pro_lightregular;
    padding: 0 13px 0 1px;
}

#top_menu ul li.selected a {
    color: #f9a01e;
    font-weight: bold;
}

div.vertical-section > div#sub_menu_section {
    padding: 0px;
}


.grey-gradient {
    background: #fcfcfc; /* Old browsers */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNWU1ZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #ffffff 0%, #fafafa 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#fafafa)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#fafafa 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#fafafa 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#fafafa 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#fafafa 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fafafa',GradientType=0 ); /* IE6-8 */
}


.action-button {
    padding: 0px 30px 2px;
    line-height: 38px;
    border: 1px solid #ddddd3;
    background-color: #f9f9f9;
    cursor: pointer;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;         /* Opera/IE 8+ */
    color: #9c8d78;
    font-family: sofia_pro_lightregular;
    -moz-border-radius: 4px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
}

.action-button.with-margin {
    margin: 0px 30px 0px 0px ;
}

.action-button.highlight {
    background: #8dc63f;
    font-weight: bold;
    color: white;
}

.action-button.inactive:hover {
    border: 1px solid #ddddd3;
    background-color: #f9f9f9;
    color: #9c8d78;
}

.action-button:hover {
    background: #f8a732;
    border: 1px solid #f8a732;
    color: white;
}
